table {
    margin-top: 5px;
}
td {
    padding: 2px 14px 2px 12px;
}
.graph {
    display: none;
}
.toolt {
    padding-left: 10px;
    color: #337AB7;
}
.form-control, select.input-sm {
    width: 140px;
    height: 25px;
}

.btn.btn-xs {
    font-size: 14px;
}