.info{
    background-color: #d9ebf2;
    padding: 5px;
}

.graph{
    visibility: hidden;
    background-color: #ffe7ce;
    margin-top: 15px;
    padding: 10px;
}

ul{
    list-style-type: decimal;
    padding-left: 15px;
    margin: 0;
}

td{
    padding: 2px 2px 2px 4px;
    /*padding: 0;*/
    /*margin: 0;*/
}

.form-control, select.input-sm {
    width: 70px;
    height: 25px;
}

input[type='text'] {
    background-color: white;
}

.btn {
    margin: 3px;
}

label {
    padding-left: 3px;
}

.container {
    padding: 5px 0 5px 0;
}
