.form{
    margin-right: 50px;
    float:left;
}

.right{
    float: left;
}

.graph{
}

#graph{
    background-color: #ffe7ce;
    /*width: 500px;*/
    /*height: 500px;*/
}

.info{
    background-color: #ffe7ce;
}