.form{
    margin-right: 5px;
    float:left;
}

.right{
    float: left;
}

.info{
    background-color: #d9ebf2;
    padding: 10px;
}

.graph{
    visibility: hidden;
    background-color: #ffe7ce;
    margin-top: 15px;
    padding: 10px;
}

#graph{
}

ul{
    list-style-type: decimal;
    padding-left: 15px;
    margin: 0;
}

td{
    padding-right: 5px;
}