.form{
    /*margin-right: 5px;*/
    float:left;
}

.right{
    float: left;
}

.info{
    background-color: #d9ebf2;
    padding: 5px;
}

.graph{
    visibility: hidden;
    background-color: #ffe7ce;
    margin-top: 15px;
    padding: 10px;
}

ul{
    list-style-type: decimal;
    padding-left: 15px;
    margin: 0;
}

td{
    /*padding-right: 5px;*/
    padding: 0;
    margin: 0;
}

.field {
    width: 60px;
}

input[type="button"],
input[type="reset"] {
    padding: 0;
    margin: 0;
}

input[type='text'] {
    background-color: white;
}